$blue: #b3cde6;
$purple: #c4b3e6;
$pink: #e6b3dc;
$coral: #e6b5b3;
$beige: #e6e1b3;
$green: #bfe6b3;
$turqoise: #b3e6d2;
$lightgray: #f9f9f9;
$body-color: $lightgray;
$button-color: $purple;
$select-color: $green;
$wordlist-color: $turqoise;
$gap-color: $coral;
@import url( 'https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url( 'https://fonts.googleapis.com/css?family=Fira+Sans:400,700');
$pt: 'PT Sans', Arial, Helvetica, sans-serif;
@mixin control-button {
    box-sizing: border-box;
    cursor: pointer;
    border: 0;
    padding: 2px 8px;
    font-size: 15px;
    position: relative;
    border-radius: 3px;
    font-family: $pt;

    &:focus {
        outline: none;
    }

    &:active {
        top: 2px;
        left: 1px;
        box-shadow: 0 0 0;
    }

    &__active {
        transition: 0.5s;
        background-color: rgba(white, 0.4);
        box-shadow: 1px 2px 0 rgba(black, 0.2);

        &:hover {
            background-color: rgba(white, 0.9);
        }
    }

    &__inactive {
        transition: 0.5s;
        box-shadow: 0 0 0 0;
        top: 2px;
        left: 1px;
        background-color: rgba(white, 0.4);
        color: lighten(gray, 10%);
        cursor: default;
    }
}

body {
    background-color: $body-color;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}


.wrapper {
    width: auto;
    margin: 0 270px 0 220px;
    position: relative;
}

.text-input {
    position: relative;
    width: 70%;
    margin: 0 auto;
    &--raw-text {
        box-sizing: border-box;
        display: block;
        width: 100%;
        min-height: 300px;
        padding: 10px;
        border-radius: 5px;
        font-family: $pt;
        font-size: 14px;
        line-height: 22px;
    }

    &--process-button {
        display: block;
        position: absolute;
        bottom: -60px;
        left: 0;
        height: 50px;
        width: 100%;
        border-radius: 5px;
        border: 0;
        background-color: rgba(green, 0.4);
        box-shadow: 2px 2px 0 rgba(green, 0.8);
        cursor: pointer;
        font-family: $pt;
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 700;

        &:active {
            bottom: -62px;
            left: 2px;
            box-shadow: 0 0 0 0;
            transition: 0.1s;
        }

        &:focus {
            outline: 0;
        }

        &:hover {
            background-color: rgba(green, 0.5);
        }
    }
}

.worksheet-draft {
    box-sizing: border-box;
    margin-top: 20px;
    position: relative;
    padding: 30px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 20px rgba(black, 0.2);

    &--text {
        line-height: 1.7em;

        .gap-index {
            line-height: 10px;
        }

        p {
            margin-top: 0;
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.wordlist {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    width: 200px;
    background-color: rgba(black, 0.05);
    border-radius: 8px;
    white-space: nowrap;

    p {
        font-weight: 700;
        padding: 0 4px;
        margin: 0 0 10px;
    }

    &--controls {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &--btn {
        @include control-button;
        margin-left: 5px;
    }

    &--list {
        list-style-type: none;
        position: relative;
        padding: 0;
        margin: 0;
    }

    &--item {
        position: relative;
        cursor: pointer;
        margin-bottom: 7px;
        padding: 0 4px 2px;
        border-radius: 3px;
        background-color: rgba(white, 0.5);
        box-shadow: 1px 2px 0 rgba(black, 0.2);
        min-height: 1.2em;

        &__active {
            position: relative;
            top: 2px;
            left: 2px;
            box-shadow: 0 0 0 0;
        }

        &__under-edit {
            padding: 0;
            box-shadow: 0 0 0 0;
            margin-bottom: 9px;
        }

        &::after {
            position: absolute;
            top: 3px;
            right: 7px;
            font-family: FontAwesome;
            content: "\f00d";
            display: block;
            height: 10px;
            width: 10px;
            color: rgba(black, 0.2);
        }

        &:hover {
            &::after {
                position: absolute;
                top: 3px;
                right: 7px;
                content: "\f00d";
                font-family: FontAwesome;
                display: block;
                height: 10px;
                width: 10px;
                color: rgba(black, 0.8);
            }
        }
    }

    &--edit {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        border: 0;
        border-radius: 3px;
        padding: 0 4px 2px;
        font-family: $pt;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, .5);
        outline-color: orange;
        height: 120%;
        width: 100%;
        font-size: 16px;
    }
}

.removable-word {
    padding: 2px;

    &:hover {
        padding: 2px;
        background-color: orange;
        cursor: pointer;
        border-radius: 3px;
        color: white;
    }
}

.gap {
    padding: 1px 4px;
    cursor: pointer;
    border: 1px solid orange;
    border-radius: 3px;
    white-space: nowrap;
    background-color: white;
    transition: 0.3s;

    &:hover {
        background-color: lighten(orange, 40%);
    }

    &__unclickable {
        &:hover {
            cursor: default;
            background-color: white;
        }
    }
}

.gap-controls {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 15px;
    background-color: rgba(black, 0.05);
    border-radius: 8px;
    width: 150px;
    &--title {
        font-weight: 700;
        margin: 0;
        margin-bottom: 15px;
    }
    &--subtitle {
        font-weight: 400;
        margin: 0;
        margin-bottom: 15px;
    }

    &--selectors {
        border: 0;
        padding: 15px;
        margin: 0;
        margin-bottom: 10px;
        border-radius: 3px;
        background-color: rgba(white, 0.4);
    }

    &--selector {
        display: none;
        &:checked + label {
            font-weight: 700;
            .gap {
                border: 3px solid orange;
                cursor: pointer;
            }
        }
    }

    &--label {
        display: block;
        font-family: $pt;
        cursor: pointer;
        margin-bottom: 15px;
        &:hover {
            color: orange;
            .gap {
                background-color: lighten(orange, 40%);
                cursor: pointer;
            }
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &--btn {
        @include control-button;
        display: block;
        width: 100%;
        padding: 5px;

        &:nth-child(n+1) {
            margin-top: 10px;
        }
    }
}

.hidden {
    display: none;
}
