$fira: 'Fira Sans', Arial, Helvetica, sans-serif;
$pt: 'PT Sans', Arial, Helvetica, sans-serif;

@page {
    size: auto;
    margin: 0;
}

body {
    font-family: $fira;
}

.wrapper {
    margin: 0;
}

.worksheet-draft {
    margin: 0;
    padding: 1.5cm;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.wordlist {
    position: static;
    width: 12cm;
    p {
        display: none;
    }
    &--list {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &--controls {
        display: none;
    }
    &--item {
        padding: 0 0.5cm;
        line-height: 0.7cm;
        &:after {
            content: '';
        }
    }
}

.processed-text {
    font-size: 12pt;
    font-family: 'Fira Sans';
}

.gap-controls {
    display: none;
}

.gap {
    border: 0;
    font-family: $pt;
    .gap-index {
        font-family: $fira;
    }
}
